* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#vertical-tabpanel-0 {
  width: 100%;
  overflow-y: scroll;


}

#vertical-tabpanel-1 {
  width: 100%;
  background-color: RED;
}

#vertical-tabpanel-2 {
  width: 100%;
  background-color: RED;
}

#vertical-tabpanel-3 {
  width: 100%;
  background-color: RED;
}

#vertical-tabpanel-4 {
  width: 100%;
  background-color: RED;
}

#vertical-tabpanel-5 {
  width: 100%;
  background-color: RED;
}

#vertical-tabpanel-6 {
  width: 100%;
  background-color: RED;
}

#vertical-tabpanel-7 {
  width: 100%;
  background-color: RED;
}



.titleMain {
  color: #1C2431;
  margin-top: 1%;
  border-bottom: 3px #1C2431 solid;
}

.btnNewEvent {
  width: 40%;
  height: 0;
  padding-bottom: 40%;
  background: linear-gradient(#2F4472, #7EAF39);
  border-radius: 30%;
  border-color: rgb(0, 0, 0);
  color: white;
  font-size: 300%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* taille de police ajustée pour centrer le symbole + */

  /* pour centrer verticalement le symbole + */

}

.container-0 {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:900px) {
  .btnNewEvent {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 60px;
    font-size: 300%;
    /* taille de police ajustée pour centrer le symbole + */
  }
}

.hour {
  display: flex;

  align-items: center;
}